:root {
  --primaryColor: #2ACCCC;
  --secundaryColor: #29BFBF;
  --tertiaryColor: #26912E;
  --contrastText: #ffffff;
  --primaryText: #1f1f1f;
  --secundaryText: #717171;
  --primaryBackground: #ededed;
  --primaryLayer: #ffffff;
  --secundaryLayer: #242424;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBackground);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


